# --- MLFlow ---
MLFLOW_TRACKING_URI="https://******.hf.space"
MLFLOW_MODEL_URI="models:/vitiscan-resnet18@production"  # Registry format: models:/name@alias or models:/name/version
MODEL_ARTIFACT_ROOT="s3://your-bucket/mlflow-artifacts/models/RUN_ID/artifacts"

# --- Dataset ---

DATASET_NAME="inrae"

# --- AWS and S3 bucket CREDENTIALS ---
AWS_ACCESS_KEY_ID="your_key"
AWS_SECRET_ACCESS_KEY="your_access_key"
AWS_DEFAULT_REGION="your_region"
S3_BUCKET_NAME="your_bucket"

