# --- Python ---
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl
*.pt

# --- Environnements virtuels ---
venv/
.env/
.venv/

# --- Configurations locales ---
.env
*.env
*.log
*.sqlite3

# --- Dépendances ---
*.egg-info/
dist/
build/

# --- IDE / éditeurs ---
.vscode/
.idea/
*.swp

# --- Tests / données temporaires ---
tests/__pycache__/
tests/*.jpg
tests/*.png
