boto3 
s3fs
dotenv
fastapi[standard]
fsspec
gunicorn
mlflow==2.21.3
openpyxl 
pandas 
psycopg2-binary
pydantic 
python-multipart
requests>=2.31.0,<3
scikit-learn==1.4.2
typing
matplotlib
seaborn
plotly
streamlit
